.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 10px 0;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 20px;
  transition: color 0.3s;
}

.navigation a:hover,
.navigation a.active {
  color: #4caf50;
}
