.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #333; 
    border-bottom: 1px solid #ddd; 
  }
  
  .header-icons {
    
  }
  
  .header-icons .icon {
    font-size: 24px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .header-user-info {
    text-align: right; 
  }
  
  .header-user-info span {
    display: block; 
  }
  