/* Sidebar.css */
.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  width: 150px;
  border-right: 2px solid #ddd;
  height: calc(76.25vh - 40px);
  background-color: black;
  margin: 20px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 10px;
}

.sidebar-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  color: white;
}

.sidebar-item a:hover {
  color: #007bff;
  cursor: pointer;
}

.page {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
