.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.contact-info,
.email-info {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
  font-size: 24px;
}
