.categories-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.categories-title {
  text-align: center;
  margin-bottom: 20px;
}

.add-category-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-category-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-category-button:hover {
  background-color: #0056b3;
}

.categories-list {
  list-style: none;
  padding: 0;
}

.category-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.textField {
  width: 400px;
}

.buttonField {
  height: 28px;
  width: 200px;
  margin-bottom: 12px;
}
