.home {
  margin: auto;
  padding: 20px;
  height: 72.25vh;
  width: 55vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: start;
  flex-direction: column;
}
.page-all {
  display: flex;
  flex-direction: row;
}

.ucet {
  margin-bottom: 20px;
}

.home label,
.home div {
  margin-bottom: 10px;
  display: block;
  justify-content: start;
  display: flex;
  flex-direction: column;
}

.home div div {
  justify-content: start;
  display: flex;
  flex-direction: column;
}

.home input {
  width: 200px;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}
