/* MainComponent.css */
.main-layout {
  display: flex;
  height: calc(76.25vh + 55px);
  max-height: calc(76.25vh + 55px);
  overflow-y: auto;
  margin-bottom: 20px;
}

.sidebar {
  width: 200px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
