.wallet-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.wallet-title {
  text-align: center;
  margin-bottom: 20px;
}

.wallet-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wallet-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.wallet-submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.wallet-submit-button:hover {
  background-color: #0056b3;
}
