.wallets-list-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.wallets-list-title {
  text-align: center;
  margin-bottom: 20px;
}

.wallets-list {
  border-collapse: collapse;
  width: 100%;
}

.wallet {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.wallet > div {
  flex-basis: 20%;
  text-align: center;
  margin-left: 50px;
}

.wallet-name {
  font-weight: bold;
}

.wallet-amount,
.wallet-budget-limit,
.wallet-currency {
  font-size: 0.9em;
}

.block {
  padding: 20px;
}
