.card {
  background-color: rgb(233, 232, 232);
  border-radius: 20px;
  padding: 14px 0px 6px 20px;
  display: flex;
  flex-direction: row !important;
}

.card div {
  margin-right: 20px;
  margin-left: 20px;
}
