.right-bar {
  margin: 20px;
}

.up {
  background-color: rgb(217, 217, 217);
  margin-bottom: 50px;
}

.down {
  background-color: rgb(217, 217, 217);
}

.up-header {
  background-color: black;
  color: white;
  padding: 10px;
}

.down-header {
  background-color: black;
  color: white;
  padding: 10px;
}

.down-body div {
  margin: 8px;
  padding: 4px;
}
